html, body{
    height:100%;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.253);
}
#calculator{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    width: 400px;
    height: 600px;
    border: 2px solid black;
    flex-direction: column;
    gap: 5%;
}
#display{
    background-color: azure;
    border: 2px solid black;
    height: 100px;
    width: 300px;
    position:relative;
}
#calculation{
    font-size: 40px;
    position:absolute;
    bottom:0;
    right:0;
}
#prevNum{
    color:rgba(0, 0, 0, 0.568);
    position:absolute;
    right:0;
}
#btnArea{
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
}
.btnRow{
    display: flex;
    justify-content: space-evenly;
}
.opBtn{
    background-color: rgb(206, 255, 231);
    height:40px;
    width:50px;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    border-radius: 20%;
}